@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Pridi:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.container {
  width: min(100%, 1440px);
  margin: auto;
}

.burger_icon {
  display: none;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  padding: 6px 130px;
  align-items: center;

}

.header_logo_title {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.header_logo_title span {
  color: #FA793C;
  font-family: Pridi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav_user {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header_ul {
  display: flex;
  column-gap: 32px;
}

.header_link {
  color: #000;
  font-family: ABeeZee;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* section1  */

.section1 {
  height: 550px;
  background-image: url(../images/section1_cover.png);
  padding: 0 130px;
  display: flex;
  align-items: center;
}

.section1_article h2 {
  color: #FFF;
  font-family: Kanit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  margin-bottom: 20px;

}

.section1_article p {
  color: #FFF;
  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 140% */
}

/* section2  */
.section2 {
  padding: 130px;

}

.section2_cards {
  display: flex;
  column-gap: 22px;
}

.section2_card {
  border: 1px solid black;
}

.section2_card_img {
  width: 100%;
  height: 189px;
  object-fit: cover;
}

.card_content {
  padding: 16px 15px;
}

.section2_title {
  color: #000;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 35px;
}

div h4 {
  color: #000;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.section2_card_text {
  color: #000;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0 24px;
}

.time_container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.time_container p {
  color: #000;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* section3  */
.section3 {
  padding-inline: 130px;
  margin-bottom: 130px;
}

.section3_cards {
  display: flex;
  column-gap: 20px;
}

.section3_card_left {
  width: 780px;
  height: 400px;
  background-image: url(../images/photograph1.png);
  padding-inline: 37px;
  display: flex;
  align-items: center;
}

.section3_card_left h2 {
  color: #FFF;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 16px;
}

.section3_card_left p {
  color: #FFF;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.section3_card_right {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.right_side_img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

/* footer  */
footer {
  padding: 31px 0;
  background-color: black;
}

.foot_content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;
}

.foot_text {
  color: #FFF;
  font-family: Pridi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}