@media (max-width: 500px) {
    header {
        padding-inline: 14px;
    }

    .section1 {
        padding-inline: 14px;
        height: 431px;
    }

    .section1 article h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .section article p {
        font-size: 14px;
        line-height: 22px;
        
    }

    .section2 {
        padding: 48px 14px ;
    }

    .section3 {
        padding-inline: 14px;
        margin-bottom: 48px;
    }

    .section3_card_right {
        flex-direction: column;
        row-gap: 20px;
    }

    .right_side_img {
        width: 100%;
    }
}